/* CSS declarations go here */
body {
  min-height: 2000px;
  padding-top: 100px;
}
th, td {
    padding: 10px;
    text-align: left;
}
th {
    background-color: lightgray
}
ul {
    list-style:none;
    padding-left:0;
}
/*li {
    border: 1px solid lightgray;
}*/
.hintText {
    border-bottom: 1px solid lightgray;
}
tr:nth-child(even) {
    background-color: #FFEEFF;
}
td li {
    padding: 5px;
}
.highlighted {
    background-color: lightgoldenrodyellow !important;
}
.inputText_string {
    width: 150px !important;
}
.inputText_int {
    width: 60px !important;
}
.certLogin {
    color: #428bca !important;
    cursor: pointer;
}
.certLogin:hover {
    text-decoration: underline !important;
}

.centered {
	text-align: center;
}
.righted {
	text-align: right;
}
.wrapped {
	word-wrap: break-word;
}
.error_row {
	border-bottom-style: solid;
    border-bottom-color: #eeeeee;
}