/* CSS declarations go here */
body {
  min-height: 2000px;
  padding-top: 100px;
}
th, td {
    padding: 5px;
    text-align: left;
}
ul {
    list-style-type: none;
}
tr:nth-child(even) {
    background-color: #FFEEFF;
}